<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../assets/css/header.css">
    <title>Document</title>
</head>
<body>
 
        <input type="checkbox" id="check">
        <label for="check" >
            <img class="ImgIconLateral" src="../assets/img/icon_menu_lateral.jpg"/>
        </label>
        <nav class="ListBarNav">
            <ul class="itensBarraLateral">    
                <ul class="itensLogin">
                    <div class="FlexAcountList">
                        <div>
                            <img src="../assets/img/profile_icon_176363.png" />
                        </div>
                        <div>   
                            <h4>acesse sua conta</h4>
                            <a class="cadastroList">ou cadastre-se grátis</a>
                        </div>
                    </div>     
                </ul> 
                <hr class="hrListBar" />
                <ul class="itensPlataformas">
                    <li><a>g1</a></li>
                    <li><a>ge</a></li>
                    <li><a>cartola fc</a></li>
                    <li><a>gshow</a></li>
                    <li><a>receitas</a></li>
                    <li><a>globoplay</a></li>
                    <li><a>o globo </a></li>
                    <li><a>dropz </a></li>
                </ul>    
                <hr class="hrListBar" />
                <ul class="itensList">
                    <li><a>Vitrine globo</a></li>
                    <li><a>cursos e serviços</a></li>
                    <li><a>seu time </a></li>
                    <li><a>campeonatos</a></li>
                    <li><a>tecnologia </a></li>
                    <li><a>telejornais</a></li>
                    <li><a>novelas e programas </a></li>
                    <li><a>canais globo</a></li>
                    <li><a>carros </a></li>
                    <li><a>jornais, revistas e rádios</a></li>
                </ul>
                <hr class="hrListBar" />
                <ul class="itensFooter">
                    <li><a>princípios editoriais</a></li>
                    <li><a>grupo globo</a></li> 
                </ul>     
            </ul>
        </nav>
   


</body>
</html>