<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
   
    <link rel="stylesheet" type="text/css" href="../assets/css/color.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/fonts.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/leftBar.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/header.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/section.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js" 
            integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" 
            crossorigin="anonymous">
    </script>
    <title>globo.com - Absolutamente tudo sobre notícias, esportes e entreterimento</title>
</head>
<body>
    
    <header class ="header">

        <div class ="logoBar">
            <div id= "leftBar">
                <img class="ImgMenuLateral" src="../assets/img/icon_menu_lateral.jpg"
                    alt="Image"/>           
            </div>

            <div id= "logoGlobo">
                <img src="../assets/img/globo_com.png" 
                title="globo.com - Absolutamente tudo sobre notícias, esportes e entreterimento"
                alt="Image" width="104" height="55" />
            </div>
        </div>

        <div class="portais">
            <nav>
                <li><a id= "avermelhado" href="/">g1</a></li>
                <li><a id= "verde" href="/">ge</a></li>
                <li><a id= "marrom" href="/">gshow</a></li>
                <li><a id= "vermelho" href="/">globoplay</a></li>
                <li><a id= "azul" href="/">o globo</a></li>  
            </nav>
        </div>

        <div class="auth">
            <!-- Tem um submenu aqui-->
            <li><a class="email" id="cursorPointer">E-MAIL</a>
                <ul class="globomail">
                    <li><a href="/">globomail free</a></li>
                    <li><a href="/">globomail pro</a></li>
                </ul>
            </li>   
            <li><a>BUSCA</a></li>
                <a><img id="glass" src="../assets/img/glass.png" alt="Image"/></a>
            <li><a id="cursorPointer">CONTA GLOBO</a></li>
                <a><img id="user" src="../assets/img/user.png" alt="Image"/></a>
        </div>
        
    </header>
    <hr id="hr1"/>

    <section> <!-- Grid horizontal de inf. Globo esporte -->

        <div class ="gridMenuLateral">
            <ul class="itensLogin">
                <li><a>acesse sua conta</a></li>
                <li><a>...</a></li>      
            </ul> 
            <ul class="itensPlataformas">
                <li><a>g1</a></li>
                <li><a>ge</a></li>
                <li><a>cartola fc</a></li>
                <li><a>gshow</a></li>
                <li><a>receitas</a></li>
                <li><a>globoplay</a></li>
                <li><a>o globo </a></li>
                <li><a>dropz </a></li>
            </ul>    
            <ul class="itensList">
                <li><a>Vitrine globo</a></li>
                <li><a>cursos e serviços</a></li>
                <li><a>seu time </a></li>
                <li><a>campeonatos</a></li>
                <li><a>tecnologia </a></li>
                <li><a>telejornais</a></li>
                <li><a>novelas e programas </a></li>
                <li><a>canais globo</a></li>
                <li><a>carros </a></li>
                <li><a>jornais, revistas e rádios</a></li>
            </ul>
            <ul class="itensFooter">
                <li><a>princípios editoriais</a></li>
                <li><a>grupo globo</a></li> 
            </ul>       
        </div>

        <div class="flexGE">   
            
            <div class="txtGE">
               <h3 id="TitleGE">TUDO SOBRE FUTEBOL</h3>
               <hr id="hrFlexGE" size= "1.625rem" color="#333"/>
               <h2>As últimas do mundo da bola estão aqui</h2>
               <a id="flexTextGE3">Notícias,tabelas e mais</a>
            </div>
            <div id="img">
                <figure id="container">
                    <img src="../assets/img/noticia/whatsapp-image-2021-07-13-at-08.56.00-1.jpeg">
                    <figcaption>Técnico do United apoia Rashford após insulto</figcaption>
                </figure>
            </div>
            <div id="img">
                <figure id="container">
                    <img src="../assets/img/noticia/giuliano.jpg">
                    <figcaption>Inter faz proposta e aguarda resposta de Guiliano</figcaption>
                </figure>
            </div>
            <div id="img">
                <figure id="container">
                    <img src="../assets/img/noticia/Tsubasa-cover.jpg">
                    <figcaption>Cartoleiro Pro tem 10 ligas para jogar com os amigos</figcaption>
                </figure>
            </div>
        </div>

    </section>

    <section>  <!-- Linha horizontal de notícias & coluna Noticias-->

        <div class="newLine">  

            <figure id="noticiaLine"> 
                <img src="../assets/img/noticia/32574273d3b3e482689e34a0a7e08558.png"/>
                <h2 id="avermelhado">Covid: jornalista faz carta para </h2>
                
            </figure>
                
            <figure id="noticiaLine"> 
                <img src="../assets/img/noticia/2018-07-06t193403z-1469468290-rc1e01ea61f0-rtrmadp-3-soccer-worldcup-bra-bel-1-.jpg"/>
                <h2 id="verde">Presidente do Timão confirma </h2>
              
            </figure>

            <figure id="noticiaLine">
                <img src="../assets/img/noticia/anime-wallpapers-for-xbox-one_5771919.jpg"/>
                <h2 id="marrom">x1 entre Kirito e Asuna </h2> 
              
            </figure> 

        </div>

        <div class="FlexLists">
            <div class="FlexListNewsG1">
                
                <div id="Noticia">
                    <img id="imgG1" src="../assets/img/noticia/whatsapp-image-2021-07-01-at-18.03.31.jpeg"/>
                    <h3 id="G1txt">SP investiga 160 pessoas por furarem ou fraudarem fila da vacinação</h3>
                    
                </div>
                <hr id="hr1Section"/>
                <div id="Noticia">
                    <img id="imgG1" src="../assets/img/noticia/milleny2.jfif"/>
                    <h3 id="G1txt">Menor que morreu após erro médico fez carta aos 15: 'Querendo medicina'</h3>
                    
                </div>
                <hr id="hr1Section"/>
                <div id="Noticia">
                    <h3 id="G1txt">Corpo do miliciano Adriano da Nóbrega estava em cemitério diferente do informado pela família</h3>
                    
                </div>
                <hr id="hr1Section"/>
                <div id="Noticia">
                    <img id="imgG1" src="../assets/img/noticia/barao2.jpeg"/>
                    <h3 id="G1txt">'Barão do iPhone' é preso em GO suspeito de golpes para ter vida de luxo</h3>
                    
                </div>
                <hr id="hr1Section"/>
                <div id="Noticia">
                    <img id="imgG1" src="../assets/img/noticia/vanessa.jpg"/>
                    <h3 id="G1txt">Universitária atropelada por moto aquática vai para UTI em RO; quadro é grave</h3>
                    
                </div>
                <hr id="hr1Section"/>
                <div id="Noticia">
                    <h3 id="G1txt">Inscrições para o Enem terminam hoje; provas serão dias 21 e 28/11 e taxa pode ser paga até 2ª</h3>
                  
                </div>
                <hr id="hr1Section"/>
                <div id="Noticia">
                    <img id="imgG1" src="../assets/img/noticia/papa.jpg"/>
                    <h3 id="G1txt">Papa Francisco deixa o hospital 10 dias após cirurgia gastrointestinal</h3>
                   
                </div>
                <hr id="hr1Section"/>
                <div id="Noticia">
                    <img id="imgG1" src="../assets/img/noticia/vaca.jpg"/>
                    <h3 id="G1txt">'Menor vaca do mundo' vira atração e pode ir ao Guinness; assista ao vídeo</h3>
                   
                </div>
                <hr id="hr1Section"/>
                <div id="Noticia">
                    <img id="imgG1" src="../assets/img/noticia/bk.jpg"/>
                    <h3 id="G1txt">Funcionários se demitem em massa e deixam recado em letreiro nos EUA</h3>
                   
                </div>
                
    
            </div>  
            <div class="FlexListNewsGe">
                <div id="Noticia">
                    <img id="imgGe" src="../assets/img/noticia/capturar.jfif"/>
                    <h3 id="Getxt">Entenda por que o Corinthians adota cautela sobre Renato Augusto</h3>
                   
                </div>
                <hr id="hr1Section"/>
                <div id="Noticia">
                    <img id="imgGe" src="../assets/img/noticia/volei-desembarque.jpg"/>
                    <h3 id="Getxt" >Seleções de vôlei chegam juntas ao Japão, mas vão para bases separadas</h3>     
                </div>
                <hr id="hr1Section"/>
                <div id="Noticia">
                    <h3 id="Getxt">Com gol aos 45 do segundo tempo, Avaí vence o Confiança e chega a 5 jogos invicto na Série </h3>  
                </div>
                <hr id="hr1Section"/>
                <div id="Noticia">
                    <img id="imgGe" src="../assets/img/noticia/gettyimages-1185045914.jpg"/>
                    <h3 id="Getxt" >Sergio Ramos diz que Neymar o convenceu a acertar com PSG</h3>     
                </div>
                <hr id="hr1Section"/>
                <div id="Noticia">
                    <img id="imgGe" src="../assets/img/noticia/city_home.jpg"/>
                    <h3 id="Getxt" >City apresenta novo uniforme em homenagem a gol histórico do clube</h3>           
                </div>
                <hr id="hr1Section"/>
                <div id="Noticia">
                    <h3 id="Getxt" >Seleções de vôlei chegam juntas ao Japão, mas vão para bases separadas</h3>                
                </div>
                <hr id="hr1Section"/>
                <div id="Noticia">
                    <img id="imgGe" src="../assets/img/noticia/nick-diaz-robbie-lawler.jpg"/>
                    <h3 id="Getxt" >Revanche entre Nick Diaz e Robbie Lawler no UFC 266 é confirmada após 17 anos</h3>                  
                </div>
                <hr id="hr1Section"/>
                <div id="Noticia">
                    <img id="imgGe" src="../assets/img/noticia/volei-desembarque.jpg"/>
                    <h3 id="Getxt" >Seleções de vôlei chegam juntas ao Japão, mas vão para bases separadas</h3>                   
                </div>
                <hr id="hr1Section"/>
                <div id="Noticia">
                    <img id="imgGe" src="../assets/img/noticia/volei-desembarque.jpg"/>
                    <h3 id="Getxt" >Seleções de vôlei chegam juntas ao Japão, mas vão para bases separadas</h3>
                </div>
                
            </div>   
            <div class="FlexListNewsGshow">
                <div id="Noticia">
                    <img id="imgG1" src="../assets/img/noticia/bk.jpg"/>
                    <h3 id="Gstxt">Namorada de Kayky Brito mostra a barriguinha pela 1ª vez: 'Carinho no pitoco'</h3>
                </div>
                <hr id="hr1Section"/>
                <div id="Noticia">
                    <img id="imgG1" src="../assets/img/noticia/isis-valverde-ioga-.jpg"/>
                    <h3 id="Gstxt">Isis Valverde posta fotos exibindo rotina com ioga: 'Manhã de estica e puxa'</h3>              
                </div>
                <hr id="hr1Section"/>
                <div id="Noticia">
                    <h3 id="Gstxt">Rainer Cadete posta antes e depois em fotos com Bianca Bin: 'Algumas coisas não mudam'</h3>                  
                </div>
                <hr id="hr1Section"/>
                <div id="Noticia">
                    <img id="imgG1" src="../assets/img/noticia/xgugu_e_rose.jpg.pagespeed.ic.cJQT95d6Nq.jpg"/>
                    <h3 id="Gstxt">Defesa da viúva de Gugu rebate filho: 'Não são as irmãs as manipuladas'</h3>    
                </div>
                <hr id="hr1Section"/>
                <div id="Noticia">
                    <img id="imgG1" src="../assets/img/noticia/mallandromodelo1a.jpg"/>
                    <h3 id="Gstxt">Após barraco no Miss Bumbum, Sindel abandona entrevista com Mallandro</h3>                
                </div>
                <hr id="hr1Section"/>
                <div id="Noticia">
                    <h3 id="Gstxt">Sonza rebate após ouvir que bumbum é o seu instrumento de trabalho: 'Bota um e faz igual'</h3>                  
                </div>
                <hr id="hr1Section"/>
                <div id="Noticia">
                    <img id="imgG1" src="../assets/img/noticia/larissa-manoela.jpg"/>
                    <h3 id="Gstxt">Vacinada nos EUA, Larissa Manoela curte show de Bieber em Las Vegas</h3>   
                </div>
                <hr id="hr1Section"/>
                <div id="Noticia">
                    <img id="imgG1" src="../assets/img/noticia/image_pz2I9AI.jfif"/>
                    <h3 id="Gstxt">Belle Silva mostra clube de luxo em férias com a família em Mykonos; vídeo</h3>                  
                </div>
                <hr id="hr1Section"/>
                <div id="Noticia">
                    <img id="imgG1" src="../assets/img/noticia/dd8bb7561b9c7a5a5e36ce06d4e82e3f1626172134_thumb.png"/>
                    <h3 id="Gstxt">Segunda temporada de Demon Slayer: Kimetsu no Yaiba ganha novo vídeo e ilustração promocional</h3>               
                </div>
                
            </div>
        </div>  
        
    </section>

    <section>   <!-- Noticia horizontal FUTEBOL  + DE OLHO NO G1 -->
        <div class="Flexfutebol">
            <h2>FUTEBOL</h2>
             <hr id="hr2"/>
         </div>
 
         <div class="FlexOlhoG1">
             <h2>DE OLHO NO G1</h2>
             <hr id="hr2"/>
         </div>
    </section>

    <section> <!-- Globoplay + lista de filmes -->

        <div class="FlexHeaderGp">
            
            <div class="FlexGp">
                <div>
                    <img src="../assets/img/globoplay-logo.png" />
                </div>
                <div>
                    <h3 id="txtGp">Veja o que todo mundo está assistindo</h3>
                </div>
            </div>                                                                                      
        </div>

        <ul class="flexCartaz"> <!-- Cartaz -->
            <li class="cartazFilme">
                <a>
                    <img id="imgCartaz" title="Juliette Globoplay" src="../assets/img/Cartaz/juliette-globoplay.jpg">
                </a>
            </li>
            <li class="cartazFilme">
                <a>
                    <img id="imgCartaz" title="Pica-pau" src="../assets/img/Cartaz/pica-pau.jpg">
                </a>
            </li>
            <li class="cartazFilme">
                <a>
                    <img id="imgCartaz" title="O Caso Evandro" src="../assets/img/Cartaz/o-caso-evandro.jpg">
                </a>
            </li>
            <li class="cartazFilme">
                <a>
                    <img id="imgCartaz" title="FBI: Os Mais Procurados " src="../assets/img/Cartaz/fbi-os-mais-procurados.jpg">
                </a>
            </li>
            <li class="cartazFilme">
                <a>
                    <img id="imgCartaz" title="Os Croods " src="../assets/img/Cartaz/os-croods.jpg">
                </a>
            </li>
            <li class="cartazFilme">
                <a>
                    <img id="imgCartaz" title="Sessão de Terapía " src="../assets/img/Cartaz/sessao-de-terapia.jpg">
                </a>
            </li>
        </ul>

    </section>


    <footer>
        <!--div>© Copyright 2000- <php?= date('Y'); ?></php> Globo Comunicação e Participações S.A.</div-->
    </footer>

</body>
</html>
