

  /* g1 */
#avermelhado  { 
    color: #f03018;
  }

/* globo esporte */
#verde  {          
    color: #06aa48;
  }

  /* gshow */
#marrom {
    color: #ec7d00;
  }

  /* globoplay */
#vermelho  {
    color: #fb0234;
  }

  /* o globo */
#azul  {
    color: #1e4c9a;
  }