body,ul,li,p {
  margin: 0px;
  padding: 0px;
  list-style: none;
  font-size: 1.2rem;
  font-family: Arial;
}

a{ 
    text-decoration: none;  
}

.header {
    background-color: #ffffff;
}
.header {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

#cursorPointer {
    cursor: pointer;
}

/* *******************  LeftBar + Logo Globo *********************/
.logoBar{
    background-color: #ffffff;
}

.logoBar{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.logoBar div {
    display: inline-block;
}

/* *******************  PORTAl *********************/
.portais nav{
    display: flex; 
}

.portais li {
    margin-left: 10px;
}

.portais li a{
    display: block;
    padding: 10px;
}
/* *******************  AUTH *********************/
.auth {
    display: flex;
}

.auth li {
    margin-left: 10px;
}

.auth li a {
    display: block;
    padding: 10px;
}

.auth ul {
    display: none;

}

.auth .globomail .mostra  {
    display: block;
}

#user {
    cursor:pointer;
    width:36px;
    height: 36px;
}

#glass {
    width:28px;
    height: 28px;
}

#farrow {
    width:9px;
    height: 9px;
}

#hrHeader {
    size: 3px;
}
