@font-face {
    font-family: 'Rubik';
    src: url('../fonts/Rubik/Rubik-Black.ttf')format('truetype'),
    url('../fonts/Rubik/Rubik-BlackItalic.ttf')format('truetype'),
    url('../fonts/Rubik/Rubik-Bold.ttf')format('truetype'),
    url('../fonts/Rubik/Rubik-BoldItalic.ttf')format('truetype'),
    url('../fonts/Rubik/Rubik-ExtraBold.ttf')format('truetype'),
    url('../fonts/Rubik/Rubik-ExtraBoldItalic.ttf')format('truetype'),
    url('../fonts/Rubik/Rubik-Italic.ttf')format('truetype'),
    url('../fonts/Rubik/Rubik-Light.ttf')format('truetype'),
    url('../fonts/Rubik/Rubik-LightItalic.ttf')format('truetype'),
    url('../fonts/Rubik/Rubik-Medium.ttf')format('truetype'),
    url('../fonts/Rubik/Rubik-MediumItalic.ttf')format('truetype'),
    url('../fonts/Rubik/Rubik-Regular.ttf')format('truetype'),
    url('../fonts/Rubik/Rubik-SemiBold.ttf')format('truetype'),
    url('../fonts/Rubik/Rubik-SemiBoldItalic.ttf')format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Open_Sans';
    src: url('../fonts/Open_Sans/OpenSans-Bold.ttf')format('truetype'),
    url('../fonts/Open_Sans/OpenSans-BoldItalic.ttf')format('truetype'),
    url('../fonts/Open_Sans/OpenSans-ExtraBold.ttf')format('truetype'),
    url('../fonts/Open_Sans/OpenSans-ExtraBoldItalic.ttf')format('truetype'),
    url('../fonts/Open_Sans/OpenSans-Italic.ttf')format('truetype'),
    url('../fonts/Open_Sans/OpenSans-Light.ttf')format('truetype'),
    url('../fonts/Open_Sans/OpenSans-LightItalic.ttf')format('truetype'),
    url('../fonts/Open_Sans/OpenSans-Regular.ttf')format('truetype'),
    url('../fonts/Open_Sans/OpenSans-SemiBold.ttf')format('truetype'),
    url('../fonts/Open_Sans/OpenSans-SemiBoldItalic.ttf')format('truetype');
    font-weight: normal;
    font-style: normal;
  }