
#globo_img {  
    cursor: pointer;
    height:"40"; 
    width: "80"; 
    
}

#click {
    cursor: pointer;
}

.footerPage div {
    font-size: 14px;
    padding-left: 40px;
    color: #ffffff;
}

  
.footerPage{
    background-color: #0669de;
    position:absolute;
    align-items: center;
    padding: 20px 0;
    bottom:0;
    width:100%;
}
  