
.section_noticias {
    float:left;
    width:auto;
    overflow-y: auto;
}

.principaisNoticias {
    grid-template-rows: auto auto auto;
    grid-template-columns: 52.1% 25% calc(25% - 38.35px);
    grid-template-areas:
        "e a b"
        "c a b"
        "d a b";
}

.destaqueTopo div {
    color: #f03018;
    font-size: 20px;
}

#distaquePagina {
    font-size: 60px;
}


.destaqueInferior {
    color: brown;
}

.destaqueColuna {
    color: blueviolet;
}