
/* **************  FONTES/TEXTO *****************  */

@font-face {
  font-family: 'Rubik';
  src: url('../fonts/Rubik/Rubik-Black.ttf')format('truetype'),
  url('../fonts/Rubik/Rubik-BlackItalic.ttf')format('truetype'),
  url('../fonts/Rubik/Rubik-Bold.ttf')format('truetype'),
  url('../fonts/Rubik/Rubik-BoldItalic.ttf')format('truetype'),
  url('../fonts/Rubik/Rubik-ExtraBold.ttf')format('truetype'),
  url('../fonts/Rubik/Rubik-ExtraBoldItalic.ttf')format('truetype'),
  url('../fonts/Rubik/Rubik-Italic.ttf')format('truetype'),
  url('../fonts/Rubik/Rubik-Light.ttf')format('truetype'),
  url('../fonts/Rubik/Rubik-LightItalic.ttf')format('truetype'),
  url('../fonts/Rubik/Rubik-Medium.ttf')format('truetype'),
  url('../fonts/Rubik/Rubik-MediumItalic.ttf')format('truetype'),
  url('../fonts/Rubik/Rubik-Regular.ttf')format('truetype'),
  url('../fonts/Rubik/Rubik-SemiBold.ttf')format('truetype'),
  url('../fonts/Rubik/Rubik-SemiBoldItalic.ttf')format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open_Sans';
  src: url('../fonts/Open_Sans/OpenSans-Bold.ttf')format('truetype'),
  url('../fonts/Open_Sans/OpenSans-BoldItalic.ttf')format('truetype'),
  url('../fonts/Open_Sans/OpenSans-ExtraBold.ttf')format('truetype'),
  url('../fonts/Open_Sans/OpenSans-ExtraBoldItalic.ttf')format('truetype'),
  url('../fonts/Open_Sans/OpenSans-Italic.ttf')format('truetype'),
  url('../fonts/Open_Sans/OpenSans-Light.ttf')format('truetype'),
  url('../fonts/Open_Sans/OpenSans-LightItalic.ttf')format('truetype'),
  url('../fonts/Open_Sans/OpenSans-Regular.ttf')format('truetype'),
  url('../fonts/Open_Sans/OpenSans-SemiBold.ttf')format('truetype'),
  url('../fonts/Open_Sans/OpenSans-SemiBoldItalic.ttf')format('truetype');
  font-weight: normal;
  font-style: normal;
}

.gridAuth > a {
  font-family:"Open_Sans-Regular";
  font-size: 20px;
  letter-spacing: -.8px;
  margin-bottom: auto;
  margin-top: auto;
  cursor: pointer;
  text-align: center;
}

.Portais ul li a {
    font-family:"Open_Sans-Regular";
    font-size: 20px;
    letter-spacing: -.8px;
    margin-bottom: auto;
    margin-top: auto;
    text-align: center;
}

.footerPage div {
  font-size: 14px;
}

/* **************  COR  *****************  */

a.avermelhado  {
  color: #f03018;
}
a.verde  {
  color: #06aa48;
}
a.marrom {
  color: #ec7d00;
}
a.vermelho  {
  color: #fb0234;
}
a.azul  {
  color: #1e4c9a;
}

/* **************  GRIDS *****************  */

.gridContainerAll {
    display: grid;
    grid-template-columns: auto auto auto auto auto; 
    grid-gap: 10px;
    background-color: #ffffff;
    padding: 10px;
  }
  
.gridContainerAll > div {
    background-color: #ffffff;
    text-align: center;
    align-items: center;
    padding: 20px 0;
    font-size: 30px;
  }
 
.Portais ul li{
  list-style: none;
  cursor: pointer;
  display: inline-block;
  padding-right: 4px;
}  

